body{
    background-color: #232323;
}
.square{
    width:30%;
    background: purple;
    margin: 1.667%;
    padding-bottom: 30%;
    float: left;
}
#container{
    margin: 0 auto;
    max-width: 600px;
}
h1{
    color: white;
}
#strip{
    height:30px;
    text-align: center;
    color:black;
    background: white;
}
.selected{
    background: steelblue;
    color:white;
}
button{
    color:steelblue;
    background: none;
    border: none;
    outline:none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    height: 100%;
    font-size:inherit;
    transition: all 0.3s;
}
button:hover{
    color:white;
    background: steelblue;
}